---
import Main from '../../layouts/Main.astro';
import BoardTable from '../../components/BoardTable';
import fetchApi from '../../lib/strapi';
import type { AssociationActive, AssociationPage } from 'src/types/types';
import { getHTMLfromMDX } from '../../common/common';

export async function getStaticPaths() {
  return [{ params: { language: 'finnish' } }, { params: { language: 'english' } }];
}

const { language } = Astro.params;
const url = Astro.url.href;

const associationPage = await fetchApi<AssociationPage>({
  endpoint: 'association-page',
  query: {
    locale: language === 'english' ? 'en' : 'fi',
    populate: '*'
  },
  wrappedByKey: 'data'
});

const associationActive =
  (await fetchApi<AssociationActive[]>({
    endpoint: 'association-actives',
    wrappedByKey: 'data'
  })) ?? [];

// @ts-ignore
const photo = associationPage.photoOfBoard.formats.small.url;

const intro = getHTMLfromMDX(String(associationPage.associationIntroText), {
  h1: 'font-bold text-3xl m-2',
  p: 'p-8'
});

const contactUs = getHTMLfromMDX(String(associationPage.contactUsText), {
  h1: 'font-bold text-3xl m-2'
});
---

<Main url={url}>
  <div class='flex self-center flex-col w-3/4'>
    {intro}
  </div>
  <h1 class='text-3xl font-bold -mt-4'>Board 2024</h1>
  <BoardTable boardMembers={associationActive} client:only='react' />
  <div class='flex w-full justify-center p-3'>
    <img src={photo} alt='Board' class='w-1/2' />
  </div>
  <div class='flex self-center flex-col w-3/4 mb-20'>
    {contactUs}
  </div>
</Main>
